
.border{
 
    margin: 3px;
  }
  .container{
    display: flex;
  }
  .flex{
    display: flex;
  }
  .justify-content{
    justify-content: center;
  }
  .itams-center{
    align-items: center;
  }
  .bg-black{
    background-color: black;
    color: azure;
  }
  .invert{
    filter:invert(1);
  }
  .bg-grey{
    background-color: #121212;
  }
  .rounded{
    border-radius: 5px;
  }
  .m-1{
    margin: 5px;
  
  }









  /* For Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark background */
}

::-webkit-scrollbar-thumb {
  background: #444; /* Darker scroll thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* Lighter on hover */
}

/* For Firefox */
html {
  scrollbar-color: #444 #1e1e1e; /* Thumb color and track color */
  scrollbar-width: thin;
}
